include ../mixins/_featured-works-work
section#featured-works
  h2.block-name: <span class="accent">Featured</span> Works
  +header-templ("Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.")
  .featured-works
    +work("work.png")
    +work("work.png")
    +work("work.png")
    +work("work.png")
    +work("work.png")
    +work("work.png")
    +work("work.png")
    +work("work.png")
    +work("work.png")
