.header-content-wrap
  h2.header-content: <span class="accent">Smart</span> Agency Landign Page
  p.header-content__discription Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, quidem aliquam, deserunt ducimus saepe praesentium dolor illum ullam obcaecati, enim commodi. At eum, soluta nisi delectus blanditiis reprehenderit voluptatum eius.
  form.header-content__form(action="" name="my-form")
    p.header-content__form-legend: <span class="accent">Send</span> A Message
    input.header-content__input(name="name" placeholder="Your Name" type="text")
    input.header-content__input(name="email" placeholder="Your Email" type="email")
    textarea.header-content__input.header-content__message(name="message" placeholder="Your Message" type="text")
    button.header-content__button(name="form-button") Send Message
