header.header
  .header__wrap
    .header__link-wrap
      a.header__logo(href='/')
    button.header__menu-but
      .header__line
      .header__line
      .header__line
  include ../mixins/_menu-mixin
