include ../mixins/_services-we-provide-links-mixin
section#services-we-provide
  h2.block-name: <span class="accent">Services</span> We Provide
  +header-templ("Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.")
  .services-we-provide
    .services-we-provide__link-block
      +link("#", "service-link1.png")
      +link("#", "service-link2.png")
      +link("#", "service-link3.png")
      +link("#", "service-link1.png")
    .services-we-provide__content-block
      h3.services-we-provide__header Modern App Design
      p.services-we-provide__discription Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione error tempora vel nobis, incidunt temporibus beatae molestiae reprehenderit labore, ea mollitia vitae sed! Quibusdam esse assumenda vitae tenetur cumque corrupti!
      p.services-we-provide__discription Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, minus?
      p.services-we-provide__discription Lorem ipsum dolor sit amet.
      a.working-process__link.working-process__link_fix-margin(href="#") Know More
    img.services-we-provide__img-block(src="../../images/apple-watch-mockup.png")
