include ../mixins/_team-chinen-skills-progressbar
section#team-chinen-skills
  h2.block-name: <span class="accent">Team</span> Chinen & Skills
  +header-templ("Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.")
  .team-chinen-skills
    .team-chinen-skills__UI-UX
      .team-chinen-skills__UI-UX-wrap
        h3.team-chinen-skills__name Bedi Manos
        p.team-chinen-skills__desc UI/UX Parena
    .team-chinen-skills__skills
      .team-chinen-skills__wrapper
        +bar("UI/UX Design")
        +bar("English")
        +bar("Communication")
      h3.team-chinen-skills__name.team-chinen-skills__name_margin Al Rayhan
      p.team-chinen-skills__desc.team-chinen-skills__desc_color UI/UX Designer
      .team-chinen-skills__links-wrap
        a.team-chinen-skills__link.team-chinen-skills__link_twitter(href="#")
        a.team-chinen-skills__link.team-chinen-skills__link_facebook(href="#")
        a.team-chinen-skills__link.team-chinen-skills__link_twitter(href="#")
    .team-chinen-skills__UI-UX
      .team-chinen-skills__UI-UX-wrap
        h3.team-chinen-skills__name Ali Sayed
        p.team-chinen-skills__desc UI/UX Designer
