extends layouts/_main.pug
include mixins/_header&description

block vars
  - const title = 'Smart'

block content
  include blocks/_header-content
  include blocks/_working-process
  include blocks/_featured-works
