@import './_fonts.styl'
@import './_variables.styl'


*
  margin 0
  padding 0
  box-sizing border-box
  outline 0

body
  font 14px "Open-Sans"
.wrapper
  max-width 1260px
  margin 0 auto
span.accent
  color accent-color
  font-weight 600
h2.block-name
  opacity 0.8
  color: text-color
  font 50px "Open Sans - Semibold"
  text-align center
p.block-discription
  opacity 0.7
  font-size 1.2em
  text-align center
  margin-top 10px



@import "./blocks/_header.styl"
@import "./blocks/_header-content.styl"
@import "./blocks/_working-process.styl"
