#featured-works
  margin-top 300px

.featured-works
  display flex
  justify-content space-between
  align-items center
  flex-wrap wrap
  margin-top 112px
  &__work
    width 360px
    height 360px
    margin-top 16px
    margin-right 5px
