#services-we-provide
  margin-top 300px
.services-we-provide
  display flex
  justify-content space-between
  align-items center
  margin-top 136px
  font-size 16px
  &__link-block
    display flex
    flex-direction column
  &__link-img
    width 62px
    height 62px
  &__link
    &:hover
      box-shadow: 0 0 36px rgba(20, 20, 21, .4)
  &__content-block
    max-width 500px
  &__header
    font-size 2.2em
    font-weight 400
    &:after
      content ""
      display block
      height 3px
      width 58px
      background accent-color
      margin-top 10px
  &__discription
    margin-top 24px
.working-process__link_fix-margin
  margin 30px 0 0
