#team-chinen-skills
  margin-top 300px

.team-chinen-skills
  display flex
  justify-content space-between
  margin-top 125px
  &__UI-UX
    width 360px
    height 445px
    box-shadow 0 0 2px rgba(20, 20, 21, .6)
    background accent-color
    display flex
    justify-content center
    align-items flex-end
  &__UI-UX-wrap
    width 262px
    height 95px
    box-shadow 1px 6px 16px rgba(20, 20, 21, 0.08)
    border-radius 2px
    background-color #ffffff
    display flex
    justify-content center
    align-items center
    flex-direction column
    margin-bottom -20px
  &__skills
    width: 360px
    height: 445px
    box-shadow: 0 0 49px rgba(20, 20, 21, 0.11)
    background-color: #fff3f0
  &__name
    opacity 0.7
    font 30px "Open Sans - Semibold"
    &_margin
      margin-top 92px
  &__desc
    margin-top 18px
    opacity 0.7
    font-size 16px
    font-weight 300
    &_color
      color accent-color
  &__skills
    display flex
    justify-content flex-end
    align-items center
    flex-direction column
  &__skill
    text-align center
    margin-top 20px
    &:first-child
      margin-top 0
  &__bar
    width 150px
    height 4px
    border-radius 2px
    margin-top 4px
    background-color #817f7e
    &:after
      content ""
      width 124px
      height 4px
      border-radius 2px
      display block
      background accent-color
  &__links-wrap
    display flex
    margin-top 18px
  &__link
    width 14px
    height 14px
    display block
    font-family: "Font Awesome";
    text-decoration none
    color accent-color
    &_twitter
      &:after
        content "\f099"
    &_facebook
      &:after
        content "\f39e"

